/*==================
    footer
====================*/

.made-by {
    margin: 134px auto 0;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: white;
    font-family: 'ProximaNova', sans-serif;
    font-weight: 300;
    
    a {
        font-weight: 700;
        color: white;
    }
}
