/*==================
    header
====================*/
@media screen and (max-device-width: 767px) {
  .navbar-brand {
    max-width: 100%;
    padding: 0 5px;
  }
}
@media screen and (min-width: 768px) {
  .navbar-default {
    padding: 30px 0;
  }
  .navbar-brand {
    max-width: 50%;
    padding: 0 15px;
    border: none;
    background-color: #fff;
  }
}


/*==================
    main page
====================*/

@media screen and (max-width: 767px) {
  .main {
  
    h1 {
    font-size: 72px;
    font-weight: 700;
    margin: 30px 0 30px;
  }
    p {
    font-size: 36px;
    font-weight: 300;
    margin: 15px 0 45px;
    color: $text-color;
  }
    a.button {
    background-color: #dfad00;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 70px 20px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
    a.button:hover {
    background-color: #ab8500;
    color: #fff;
  }
}
}

@media screen and (min-width: 768px) {
  .main {
    .video {
      width: 100%;
     
      
  }
    a.button {
    background-color: #dfad00;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 70px 20px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
    a.button:hover {
      background-color: #ab8500;
      color: #fff;
  }
}
}



/*==================
    description
====================*/
/*@media screen and (min-width: 768px) {

  .description article h3 {
    font-size: 26px;
    font-weight: 700;
  }
  .description article p {
    font-size: 16px;
    font-weight: 400;
  }
  .description article img {
    padding-top: 15px;
  }
}*/

@media screen and (max-width: 767px){
  .part {
    padding: 90px 0 50px;
  }
  .part h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .part p {
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    padding-bottom: 40px;
  }

}
@media screen and (min-width: 768px) {
  .part {
    padding: 90px 0;
  }
  .part h2 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .part p {
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 80px;
  }
}

/*==================
   slider
====================*/
@media screen and (max-width: 767px) {
.flexslider .slides img {
    width: 135px;
    display: block;
    margin: 0 auto;
}
}
@media screen and (min-width: 768px) {
  .flexslider .slides img {
    width: 135px;
    display: block;
    margin: 0 auto;
}
}
/*==================
   footer
====================*/

@media screen and (max-width: 767px) {
  .footer {
  background-color: #323232;
  color: #fff;
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
  padding: 20px;
}
}

@media screen and (min-width: 768px) {
  .footer {
  background-color: #323232;
  color: #fff;
  line-height: 36px;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
}
}

